.webforJ-logo::part(content) {
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-app-theme="dark"] .webforJ-logo{
  filter: brightness(0) invert(1);
}

.welcome__drawer::part(control) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-2xl);
}

.welcome__drawer::part(header) {
  display: none;
}

.welcome__drawer {
  --dwc-drawer-size: 35em;
}