body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.dwc-logo::part(content) {
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-app-theme="dark"] .dwc-logo{
  filter: brightness(0) invert(1);
}

.drawer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-m) 0;
  margin-bottom: var(--dwc-space-m);
  border-bottom: thin solid var(--dwc-color-default) !important;
}

.drawer__logo img {
  max-width: 100px;
  border-radius: 10px;
}

.welcome__drawer::part(control) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-2xl);
  
}

.welcome__drawer::part(header) {
  display: none;
}

.welcome__drawer {
  --dwc-drawer-size: 35em;
}