/* Depth-based: style all top-level groups */
dwc-table::part(cell-group-depth-0) {
  background: var(--dwc-color-primary-75);
  color: var(--dwc-color-primary-text-75);
  font-weight: 700;
}

/* Depth-based: style all second-level groups */
dwc-table::part(cell-group-depth-1) {
  background: var(--dwc-color-primary-85);
  color: var(--dwc-color-primary-text-85);
}

/* Column id: style a specific column's cells */
dwc-table::part(cell-column-Title) {
  font-weight: 600;
}