.analytics-stage {
  min-height: 100vh;
  padding: var(--dwc-space-l);
}

.analytics-value {
  font-size: var(--dwc-font-size-2xl);
  font-weight: 700;
  color: var(--dwc-color-primary-text);
}

.analytics-description {
  color: var(--dwc-color-success-text);
}