.testimonial-figure {
  margin: 0;
}

.testimonial-quote {
  margin: 0 0 var(--dwc-space-s) 0;
  font-size: 1.125rem;
  font-style: italic;
}

.testimonial-caption {
  color: var(--dwc-color-default-text-light);
}