.alert--primary {
  --ifm-alert-background-color: var(--dwc-color-primary-alt);
  --ifm-alert-background-color-highlight: var(--dwc-color-primary-alt);
  --ifm-alert-foreground-color: var(--dwc-color-primary-text);
  --ifm-alert-border-color: var(--dwc-color-primary);
}

.alert--secondary {
  --ifm-alert-background-color: var(--dwc-color-default-light);
  --ifm-alert-background-color-highlight: var(--dwc-color-default);
  --ifm-alert-foreground-color: var(--dwc-color-on-default-text);
  --ifm-alert-border-color: var(--dwc-color-default-dark);
}

.alert--success {
  --ifm-alert-background-color: var(--dwc-color-success-alt);
  --ifm-alert-background-color-highlight: var(--dwc-color-success-alt);
  --ifm-alert-foreground-color: var(--dwc-color-success-text);
  --ifm-alert-border-color: var(--dwc-color-success);
}

.alert--info {
  --ifm-alert-background-color: var(--dwc-color-info-alt);
  --ifm-alert-background-color-highlight: var(--dwc-color-info-alt);
  --ifm-alert-foreground-color: var(--dwc-color-info-text);
  --ifm-alert-border-color: var(--dwc-color-info);
}

.alert--warning {
  --ifm-alert-background-color: var(--dwc-color-warning-alt);
  --ifm-alert-background-color-highlight: var(--dwc-color-warning-alt);
  --ifm-alert-foreground-color: var(--dwc-color-warning-text);
  --ifm-alert-border-color: var(--dwc-color-warning);
}

.alert--danger {
  --ifm-alert-background-color: var(--dwc-color-danger-alt);
  --ifm-alert-background-color-highlight: var(--dwc-color-danger-alt);
  --ifm-alert-foreground-color: var(--dwc-color-danger-text);
  --ifm-alert-border-color: var(--dwc-color-danger);
}
