#__docusaurus {
  .navbar {
    border-bottom: 1px solid var(--dwc-border-color);
  }

  .navbar--dark {
    --ifm-navbar-background-color: var(--navbar-dark-background-color);
    --ifm-navbar-link-hover-color: var(--navbar-dark-link-hover-color);
    --ifm-menu-color-background-active: var(--navbar-dark-background-active);
    --ifm-menu-color-background-hover: transparent;
    --ifm-menu-color-active: var(--ifm-navbar-link-hover-color);
    --ifm-navbar-search-input-color: var(--ifm-color-white);
    --menu-level-indicator-color: var(--navbar-dark-sidebar-level-indicator-color);
    .navbar__link--active {
      color: var(--navbar-dark-link-hover-color);
    }
  }

  .header-github-link::before {
    background: var(--header-github-link) no-repeat;
    content: "";
    display: flex;
    height: 24px;
    width: 24px;
  }

  .separator {
    background: hsl(360, 0%, 40%);
    height: 1.75rem;
    width: 1px;
  }

  .navbar__logo img {
    filter: brightness(0) invert(1);
  }

  [class^="navbarSearchContainer"] {
    --docsearch-text-color: #f5f6f7;
    --docsearch-searchbox-background: #090a11 !important;
    --docsearch-searchbox-focus-background: #000 !important;
    --docsearch-muted-color: #7f8497;
    --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
      0 2px 2px 0 rgba(3, 4, 9, 0.3);
  }

  .dropdown__menu {
    border: thin solid var(--dwc-border-color);
    --ifm-dropdown-hover-background-color: var(--dwc-color-primary-alt);
  }

  #webforj-version-badge {
    display: inline-block;
    background-color: hsl( 211,  100%, 25%);
    min-width: 76px;
    height: 34px;

    svg {
      display: none;
    }

    &:hover,
    &:focus {
      color: white;
    }
  }

  @media (max-width: 1000px) {
    .separator {
      display: none;
    }
  }

  @media (max-width: 1300px) {
    .dropdown--right {
      display: none;
    }
  }
}
