.card::part(control) {
  text-align: center;
  --dwc-card-title-line-height: var(--dwc-font-size-xl);
  padding: 0;
}

.card::part(main) {
  padding: var(--dwc-space-m);
}

.card::part(footer) {
  margin-inline: auto;
}