.layout--collapse {
  --dwc-app-layout-header-collapse-height: 45px;
}

.layout--collapse h1 {
  text-align: center;
}

.drawer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-m) 0;
  margin-bottom: var(--dwc-space-m);
  border-bottom: thin solid var(--dwc-color-default) !important;
}

.drawer__logo img {
  max-width: 100px;
  border-radius: 10px;
}

html[data-app-theme="dark"] .drawer__logo img {
filter: brightness(0) invert(1);
}

.card {
  padding: var(--dwc-space-m);
  margin: var(--dwc-space-m) auto;
  border: thin solid var(--dwc-color-default);
  border-radius: var(--dwc-border-radius-m);
  background-color: var(--dwc-surface-3);
  max-width: 600px;
}

dwc-tab::part(prefix) {
  --dwc-icon-size: var(--dwc-size-s);
  cursor: pointer;
}
