.card-title {
  --dwc-card-title-font-size: var(--dwc-font-size-xl);
}

.upload-demo__field-label {
  font-weight: var(--dwc-font-weight-semibold);
  font-size: var(--dwc-font-size-xs);
  padding-left: var(--dwc-space-s);
  margin-bottom: var(--dwc-space-s);
}

.upload-demo__helper {
  color: var(--dwc-color-default-text-light);
  font-size: var(--dwc-font-size-xs);
}