.contact-drawer::part(footer) {
  display: none;
}

.contact-row {
  border-bottom: var(--dwc-border-width) solid var(--dwc-border-color);
}

.contact-row:last-child {
  border-bottom: none;
}

.contact-row::part(header-actions) {
  height: 100%;
}

.avatar-margin {
  margin-right: var(--dwc-space-s);
}