.card-demo {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: var(--dwc-space-l);
  overflow: auto;
}

.card-orientation__controls {
  align-self: flex-start;
}

dwc-card::part(figure) {
  justify-content: center;
  align-items: center;
  margin: var(--dwc-space-xl);
}

.card-orientation__icon {
  --dwc-icon-size: 80px;
}

.card-orientation__meta {
  font-size: var(--dwc-font-size-xl);
}

@media (max-width: 480px) {
  .card-demo{
    padding: var(--dwc-space-m);

  .card-orientation__icon {
     --dwc-icon-size: 50px;
  }
  }
}