.tableWrapper {
  position: relative !important;
  margin-bottom: 2rem !important;
  max-width: fit-content !important;
}

.tableWrapper:hover,
.tableWrapper:focus-visible {
  box-shadow: var(--dwc-focus-ring-primary);
  border-radius: var(--dwc-border-radius-m);
  outline: none;
  cursor: zoom-in;
}