/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0063cc;
  --ifm-color-primary-dark: #0059b8;
  --ifm-color-primary-darker: #0054ad;
  --ifm-color-primary-darkest: #00458f;
  --ifm-color-primary-light: #006de0;
  --ifm-color-primary-lighter: #0072eb;
  --ifm-color-primary-lightest: #1f8bff;
  --docusaurus-highlighted-code-line-bg: #DDDFE1;
  --code-display-color: #F8FAFC;
  --code-display-color-background: #e1e3e6;
  --inversion-percentage: 0%;
  --ifm-container-width-xl: calc((3 / 12 * 100%) + 860px);
  --chip-background: #e2e2e2;
  --chip-background-hover: #cfcfcf;
  --chip-text: #5F6163;
  --chip-icon-color: #616161;
  --ifm-background-color: #FFFFFF !important;
  --header-githib-link: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  --announcement-background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
} 

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4299f5;
  --ifm-color-primary-dark: #2489f3;
  --ifm-color-primary-darker: #1681f3;
  --ifm-color-primary-darkest: #0b6acf;
  --ifm-color-primary-light: #60a9f7;
  --ifm-color-primary-lighter: #6eb1f7;
  --ifm-color-primary-lightest: #9bc9fa;
  --docusaurus-highlighted-code-line-bg: #414458 !important;
  --code-display-color: #21222c;
  --code-display-color-background: #242530;
  --inversion-percentage: 100%;
  --chip-background: #494C4F;
  --chip-background-hover: #424242;
  --chip-text: #E0E0E0;
  --chip-icon-color: #E0E0E0;
  --ifm-navbar-background-color:  #181e25 !important;
  --ifm-background-color: #101418 !important;
  --header-githib-link: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}


/* .docItemCol_node_modules-\@docusaurus-theme-classic-lib-theme-DocItem-Layout-styles-module{
  @media (min-width: 997px){
    margin-right: 10%;
  }
} */
/* 
#__docusaurus [class*=docMainContainer_]>.container>.row>.col {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  min-width: 0;
  
}

#__docusaurus [class*=docItemContainer_] {
  flex-grow: 1;
  max-width: var(--doc-item-container-width);
  min-width: 0;
}

.docItemCol_node_modules{
  background-color: blue !important;
}

.main-wrapper{
  flex-direction: row !important;
} */

.homepage{
  width: 100%;
}

.navbar__brand{
  margin-left: 30px;
  margin-right: 30px;
}

.custom--table{
  display: inline-table;
  width: 100% !important;
}

.custom--table td{
  padding: 5px 7px 5px 8px;
}

.sidebar--item__hidden{
  display: none !important;
}

.MuiChip-root{
  text-decoration: none !important;
}

.navbar__brand, .navbar__item{
  /* color: #FFFFFF !important; */
  /* #101418
  #14191f
  #181e25
  #8928a4 */

}

.clean-btn:hover{
  color: var(--clean-hover);
  transition: color var(--ifm-transition-fast)
}


#script-container{
  max-width: 90%;
  margin: 0% 10% 5%;
  /* align-self: center; */
}

.header-github-link::before{
  background: var(--header-githib-link) no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

.topics-section {
  margin-top: calc(var(--ifm-h1-vertical-rhythm-bottom)* var(--ifm-leading));
}

div[class^=announcementBar_]{

background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);

color: #ebedf0;
}

img[src$="#rounded-border"]{
  border-radius: 10px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5)
}