name: Build and Deploy WAR

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build and Deploy WAR
    runs-on: ubuntu-slim
    # runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package -Pprod

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.S3_WEBAPPS_KEY }}
          aws-secret-access-key: ${{ secrets.S3_WEBAPPS_SECRET }}
          aws-region: us-west-2

      - name: Upload WAR to S3
        run: |
          aws s3 cp target/*.war s3://webforj-webapps/ROOT.war
